@import "./styles/question1.css";
@import "./styles/question2.css";
@import "./styles/question3.css";
@import "./styles/question4.css";
@import "./styles/question5.css";
@import "./styles/question6.css";
@import "./styles/question7.css";
@import "./styles/question8.css";
@import "./styles/question10.css";
@import "./styles/question11.css";
@import "./styles/question12.css";
@import "./styles/question13.css";
@import "./styles/question14.css";
@import "./styles/question15.css";
@import "./styles/question16.css";
@import "./styles/question19.css";
@import "./styles/question20.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

* {
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.nameTask {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #369cb7;
    margin: 0 0 5px 40px;
}

.submit input {
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #369cb7;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 40px;
    background: #369cb7;
    border: 0.5px solid #369cb7;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 47px;
    margin-left: 505px;
    margin-top: 10px;
}
